header
  .header-position
    h1.logo Harish Kommineni

    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#youtube") Youtube
        li: a(href="#mentoring") Mentoring
        li: a(href="#articles") Articles
        li: a(href="#vine") Vine
        li: a(href="#design") Design
        li: a(href="#notes") Notes
        li: a(href="#contact") Contact
        
    a(href="mailto:hkommineni@unomaha.edu").email-link +email me
